@model Movie
@{
}

@using (Html.BeginForm(FormMethod.Post, "Movie"))
{
    @Html.LabelFor(m => m.Title);
    @Html.TextBoxFor(m => m.Title);
    @Html.LabelFor(m => m.Director);
    @Html.TextBoxFor(m => m.Director);
    @Html.LabelFor(m => m.Year);
    @Html.TextBoxFor(m => m.Year);
    <button>Add movie</button>
}
